.item {
    display: flex;
    justify-content: space-between;
    margin: 1em 1em 3em;
    padding: 1em;
    border: 2px solid var(--color-texto-1);
}

.item__fecha-agregado {
    margin-bottom: 1em;
}

.item__precio {
    display: inline-block;
    margin-bottom: 20px;
}

.item__btn-eliminar, 
.item__btn-comprar {
    display: inline-block;
    width: 200px;
    padding: .25em 1em;
    text-align: center;
    background-color: var(--color-texto-2);
    text-decoration: none;
}

.item__btn-eliminar:hover,
.item__btn-eliminar:visited,
.item__btn-eliminar:link, 
.item__btn-comprar:hover,
.item__btn-comprar:visited,
.item__btn-comprar:link {
    color: var(--color-texto-4);
    text-decoration: none;
}

.portada {
    display: flex;
    align-items: center;
}

.item__portada {
    width: 300px;
    height: 160px;
    object-fit: cover;
}

.item__btn-comprar {
    background-color: var(--color-texto-5);
}