.titulo,
.link-comprar,
.descripcion {
    color: var(--color-texto-1);
}

.titulo {
    /* width: 450px; */
    margin-bottom: 60px;
    word-wrap: break-word;
}

.informacion {
    width: 96%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: .25em auto ;
}

.visualizacion-imagenes {
    position: relative;
    width: 400px; height: 350px;
    margin-right: .5em ;
    position: relative;
    flex-grow: 1;
    flex-shrink: .5;
}

#imagen-principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-desplazamiento {
    position: absolute;
    width: 60px;
    height: 100%;
    background: none;
    border: none;
    background-color: #9090907F;
    opacity: 0;
    font-size: 2.2rem;
    color: #ddd;
    transition: opacity .2s;
}

.btn-desplazamiento:hover,
.btn-desplazamiento:focus,
.btn-desplazamiento:active {
    outline: none;
}

.btn-desplazamiento:hover {
    opacity: .75;
}

#bot-anterior {
    left: 0;
}

#bot-siguiente {
    right: 0;
}

.info {
    display: flex;
    min-width: 360px;
    max-width: 360px;
    width: 360px;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 .5em;
}

.info .portada {
    width: 360px;
    height: 180px;
    /* width: 100%; */
    /* margin: 0 auto; */
}

.precio {
    color: var(--color-texto-2);
}

.link-comprar {
    /* width: 360px !important; */
    width: 100%;
    font-size: 1.23rem;
    line-height: 50px;
}

.link-comprar:hover, 
.link-comprar:visited, 
.link-comprar:link {
    text-decoration: none;
    color: var(--color-texto-1);
}

.descripcion {
    white-space: pre-wrap;
}